body {
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: #20315A;
    font-size: 6vw;
    font-weight: bolder;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}

.container {
    width: 79.50%;
    margin: auto;
    margin-top: 40px;
    text-align: left;
    border: 3px #20315A solid ;
    border-radius: 5px;
}

h2 {
    background-color: #20315A;
    color: white;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 5px;
    
}

.search-option {
    width: 90%;
    display: block;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 10px;
    height: 40px;
    border: gray 2px solid;
    border-radius: 3px;
}

#number-of-records{ 
    width: 90.5%;
    height: 48px;
}

label {
    text-align: left;
    color: black;
    font-size: 18px;
    padding-left: 4.5%; 
    
}

button {
    padding: 10px;
    font-size: 18px;
    color: white;
    background-color: #95a5a6;
    border: #95a5a6;
    border-radius: 5%;
}

.button-container {
    margin-left: 4.5%;
    margin-bottom: 40px;
}

#results-display {
    color: black;
}

.resultCard {
    font-size: 20px;
    width: 95%;
    height: 30px;
    border: 2px solid black;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
}